// Footer.scss

.footer {
  background-color: #000000;
  color: #fff;
  box-shadow: inset 3px -3px 500px #9c7154, inset -4px 4px 4px #58402f,
    0 10px 20px #4e392ac0;
  text-align: center;
  padding: 20px 0;
  margin-top: 0.5em;
  border-radius: 0.5em;

  .footer-content {
    font-size: 0.9rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: #3498db;
      }
    }
    img {
      width: 7em;
      height: 7em;
    }
  }
}
